* {
    margin: 0;
    padding: 0;
    font-family: 'Martel Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    width: 100%;
  }


.karta {
   text-align: center;
    margin: auto;
   margin-top: 2vw;
   padding: 1vw;
   width: 50%;
   background-color:lightskyblue;
   border-radius: 3px;
   
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  .delete { 
         float:right}

.plus{
  float: right;
  font-size: 8vw;
  color:white;
  text-shadow: 2px 2px black;
}

.header{ width:100%;
  height: 5vh;
 

}

#inp{
  display: flex;
  flex-direction: column;
  align-items:center;
}

form {
 
 margin: 0 auto;
 background-color: cornflowerblue;
 width: 52%;
 border-radius: 3px;
 
}
textarea{
  margin-top: 1vh;
  width: 95%;
  margin-bottom: 1vh;
}

.blok{
  margin-bottom: 1vh;
}


